/* Google fonts, arvo and Lato*/
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato:ital,wght@0,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 200;
    color: #3a3a3a
}

/* headings and logo */
h1, h2 {
    font-family: Arvo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: red;
    margin-left: 20px;
}

h2 {
    padding-bottom: 30px;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*club badge and cover text */

#club-badge-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    font-size: 75%;

    position: relative;
    
}
#club-badge {
    height: 600px;
    width: 100%;
    background: url(../images/roseandcrownlogo.webp) no-repeat center center;

/* animates zoom effect on loading page  */
    animation-name: badge-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/*create zoom for logo*/

@keyframes badge-zoom {
    from{ 
        transform: scale(1);  
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 50px;

    background-color: rgba(233, 13, 10, 0.7);

    top:100px;

    position: absolute;
}

/* Intro */
#intro {
    margin-bottom: 20px;
    margin-left: 20px;
    width:95%;
}
/* reasons to join */

#reasons-to-join {
    height: 600px;
    padding-bottom: 0px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin:0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both; margin-bottom: 50px;
}

.right-about-heading {
        width: 60%;
        float: left;
        line-height: 20px;
        clear: both; margin-bottom: 50px;
    }

.right-about-heading h3 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url(../images/Reasons.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* quote */

#quote, #quote h2 {
    color: #fff;
}

#quote {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 90%;
    height: 250px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: rgba(233, 13, 10, 0.7);}

/* table */

table {
    width: 90%;
    border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
}

table, th, td {
    border: 1px solid;
    padding: 30px;
}

table th {
    padding: 10px;
}

table img {
    width: 150px;
    height: 80px;
}

/* training and match times */
#times {
    background-image: url('../images/schedule.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}

/* Form */
#sign-up-header {
    margin-top: 20px;
}
form {
    letter-spacing: 2px;
    background-color: rgba(233, 13, 10, 0.7);
    margin: 10px;
    color: #fafafa;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

input[type=text] {
    width: 70%;
    text-align: center;
    height: 50px;
    font-size: 16px
  }

  input[type="email"] {
    width: 70%;
    text-align: center;
    height: 50px;
    font-size: 16px
  }

  input[type=number] {
    width: 20%;
    text-align:center;
    height: 50px;
    font-size: 16px;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

fieldset p {
    padding: 10px;
}

#position {
    width: 20%;
    text-align:center;
    height: 50px;
    font-size: 16px;
}

/*footer*/

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Media Queries*/

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #reasons-to-join {
        width: 90%;
        height: 1200px;

    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h3, .right-about-heading h3 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }

}

    /* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 1500px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
    #quote {
        font-size: 12px;
        height: 200px;
    }
    table img {
        width: 100px;
    }
    #reasons-to-join {
        width: 100%;
    }
}